@use "../utils/" as u;

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    display: flex;
    max-width: u.rem(1800);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: u.rem(80) u.rem(80) 0;
}

main {
    width: 100%;
    max-width: u.rem(1800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
}

button {
    padding: u.rem(16) u.rem(40);
    border-radius: u.rem(29);
    border: none;
    font-size: u.rem(16);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-medium);
    letter-spacing: var(--font-letter-spacing);
    font-family: var(--font-family);
    color: var(--color-white);
    min-width: u.rem(193);
    height: u.rem(56);
}

.intro {
    display: flex;
    gap: u.rem(32);
    padding: u.rem(80) 0 u.rem(128);

    @include u.breakpoint(medium) {
        flex-direction: column;
        width: 100%;
        gap: u.rem(100);
    }

    &__img--tablet {
        display: none;

        @include u.breakpoint(medium) {
            display: block;
        }
    }

    &__img--left,
    &__img--right {
        width: 30%;

        @include u.breakpoint(medium) {
            display: none;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include u.breakpoint(medium) {
            max-width: u.rem(450);
            margin: 0 auto;
        }
    }

    &__heading {
        font-size: 2.5rem;
        font-size: clamp(
            2.5rem,
            -0.16666666666666652rem + 5.555555555555555vw,
            4rem
        );
        font-weight: var(--font-weight-black);
        line-height: var(--line-height-small);
        letter-spacing: var(--font-letter-spacing);
        text-align: center;
        margin-bottom: u.rem(32);
        color: var(--color-slate-900);
    }

    &__summary {
        font-size: 1rem;
        font-size: clamp(
            1rem,
            0.7777777777777778rem + 0.4629629629629629vw,
            1.125rem
        );
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-medium);
        letter-spacing: var(--font-letter-spacing);
        text-align: center;
        margin-bottom: u.rem(32);
        color: var(--color-slate-600);
    }

    &__buttons--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: u.rem(17);

        @include u.breakpoint(small) {
            flex-direction: column;
        }
    }

    &__button--teal {
        background-color: var(--color-cyan-600);

        &:hover {
            background-color: #71c0d4;
        }
    }

    &__button--version {
        color: var(--color-cyan-300);
    }

    &__button--purple {
        background-color: var(--color-purple-600);

        &:hover {
            background-color: #b18bdd;
        }
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: u.rem(56) u.rem(80) u.rem(200);

    @include u.breakpoint(medium) {
        padding-left: u.rem(32);
        padding-right: u.rem(32);
    }

    @include u.breakpoint(small) {
        padding-left: 0;
        padding-right: 0;
        width: u.rem(400);
    }

    &__img--wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: u.rem(32);
        margin-top: u.rem(32);
        padding: u.rem(64) 0;

        @include u.breakpoint(small) {
            width: u.rem(311);
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: u.rem(16);
            align-self: center;
        }
    }
    &__img {
        max-width: u.rem(256);
        min-width: u.rem(152);
        width: 25%;
        border-radius: u.rem(8);

        @include u.breakpoint(small) {
            align-self: center;
        }
    }

    &__info {
        max-width: u.rem(544);
        margin: 0 auto;
        text-align: center;
    }

    &__heading {
        color: var(--color-slate-900);
        font-weight: var(--font-weight-black);
        font-size: 2rem;
        font-size: clamp(
            2rem,
            1.1111111111111112rem + 1.8518518518518516vw,
            2.5rem
        );
        line-height: var(--line-height-small);
        letter-spacing: var(--font-letter-spacing);
        margin-bottom: u.rem(32);
        padding: 0 u.rem(50);

        &--small {
            color: var(--color-cyan-600);
            font-size: 0.75rem;
            font-size: clamp(
                0.75rem,
                0.3055555555555556rem + 0.9259259259259258vw,
                1rem
            );
            letter-spacing: u.rem(4);
            text-transform: uppercase;
        }
    }

    &__details {
        font-weight: var(--font-weight-medium);
        font-size: u.rem(18);
        line-height: var(--line-height-medium);
        letter-spacing: var(--font-letter-spacing);
        color: var(--color-slate-600);
    }
}

.experience {
    display: flex;
    justify-content: space-evenly;
    gap: u.rem(32);
    width: 100%;
    position: relative;
    background-image: url("../../assets/desktop/image-footer.jpg");
    background-size: cover;
    color: var(--color-white);

    @include u.breakpoint(medium) {
        background-image: url("../assets/tablet/image-footer.jpg");
    }

    @include u.breakpoint(small) {
        background-image: url("../assets/mobile/image-footer.jpg");
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(77, 150, 169, 0.8);
    }

    &__info {
        display: flex;
        align-items: center;
        gap: u.rem(60);
        padding: u.rem(100) u.rem(80) u.rem(80);
        z-index: 1;

        @include u.breakpoint(medium) {
            flex-direction: column;
            gap: u.rem(24);
        }
    }

    &__header {
        color: var(--color-white);
        font-weight: var(--font-weight-black);
        font-size: 2rem;
        font-size: clamp(
            2rem,
            1.1111111111111112rem + 1.8518518518518516vw,
            2.5rem
        );
        line-height: var(--line-height-small);
        letter-spacing: var(--font-letter-spacing);
        text-align: center;
    }

    &__details {
        font-weight: var(--font-weight-medium);
        font-size: 1rem;
        font-size: clamp(
            1rem,
            0.7777777777777778rem + 0.4629629629629629vw,
            1.125rem
        );
        line-height: var(--line-height-small);
        letter-spacing: var(--font-letter-spacing);
        text-align: center;
    }

    &__button {
        background-color: var(--color-purple-600);

        &--version {
            color: var(--color-purple-300);
        }

        &:hover {
            background-color: #b18bdd;
        }
    }
}

.section__divider {
    background-color: var(--color-white);
    border: 1px solid var(--color-slate-300);
    border-radius: 50%;
    width: u.rem(56);
    height: u.rem(56);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-slate-600);
    font-weight: var(--font-weight-black);
    font-size: u.rem(16);
    line-height: var(--line-height-medium);
    letter-spacing: var(--font-letter-spacing);
    position: relative;

    &::before {
        content: "";
        border: 0.5px solid var(--color-slate-300);
        height: u.rem(80);
        position: absolute;
        top: u.rem(-80);
    }
}

.absolute__divider {
    position: absolute;
    top: u.rem(-28);
}
