:root {
    --font-family: "Red Hat Display";

    --font-size-larger: 64px;
    --font-size-large: 40px;
    --font-size-medium: 18px;
    --font-size-small: 16px;

    --line-height-medium: 150%;
    --line-height-small: 110%;

    --font-weight-medium: 500;
    --font-weight-black: 900;

    --font-letter-spacing: 0;
}
