:root {
    --font-family: "Red Hat Display";

    --line-height-medium: 150%;
    --line-height-small: 110%;

    --font-weight-medium: 500;
    --font-weight-black: 900;

    --font-letter-spacing: 0;
}
